* {
    padding: 0px;
    margin: 0px;
}

table, td {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}


body {
    font-family: "돋움";
    font-size: 12px;
    color: #000;
    text-align: center;
}

a {
    color: #999;
    text-decoration: none;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.5s ease;
    
}

a.on{
    color: #000;
}

li {
    list-style: none;
}

#gnb {
    display: inline-block;
    position: relative;
}

#gnb ul li {
    float: left;
    width:150px;
    line-height: 60px;
}

#gnb span {
    display: block;
    border-bottom: 2px solid #50b3a2;
    height: 40px;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.hi-melody-regular {
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
}

.search {
    position: relative;
    float: right;
    margin-top: -53px;
    padding-right: 245px;
}

.login {
    position: relative;
    float: right;
    margin-top: -43px;
    margin-right: 100px;
}

div#slide {
    width: 100%;
    height: 750px;
    padding-left: 50px;
    padding-top: 20px;
    margin: 0 auto;
}
div#slide div.slidebanner {
    width: 1200px;
    height: 400px;
    overflow: hidden;
}
div#slide div.slidebanner ul {
    width: 1400px;
    height: 900px;
    position: relative;
}
div#slide div.slidebanner ul li {
    width: 1200px;
    height: 400px;
    float: left;
}
    